# SQL ASSIGNMENT 9

Q-17. Write an SQL query to show the top n (say 10) records of a table.

ANSWER : SELECT TOP N * FROM TABLE_NAME;
    
N CAN BE REPLACED WITH REQUIRED NUMBER OF ROWS

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

Answer : SELECT TOP 1 SALARY FROM ( SELECT DISTINCT TOP N SALARY FROM  ORDER BY SALARY DESC ) 

N CAN BE REPLACED WITH REQUIRED NUMBERTH OF SALARY.