# SQL ASSIGNMENT 8

Q-15. Write an SQL query to fetch intersecting records of two tables.

Answer : SELECT * FROM TABLE1 INTERSECT SELECT * FROM TABLE2

Q-16. Write an SQL query to show records from one table that another table does not have.

ANSWER : SELECT FIELD_NAME FROM TABLE1 
    WHERE 
    FIELD_NAME NOT IN 
    ( SELECT FIELD_NAME FROM TABLE2  
     WHERE TABLE1.FIELD_NAME=TABLE2.FIELD_NAME)