# SQL Assignment 4

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

Answer : SELECT REPLACE(FIRST_NAME,'a','A')  FROM EMPLOYEES;

Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

Answer : SELECT * WORKER ORDER BY FIRST_NAME ASC, DEPARTMENT DSC;

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

Answer : SELECT FIRST_NAME FROM WORKERS WHERE SALARY = (SELECT max(SALARY) FROM WORKERS)