# SQL ASSIGNMENT 7

Q-13. Write an SQL query to show only odd rows from aÂ table.

Answer : SELECT * FROM (SELECT ROWNUM num FROM TABLE_NAME)WHERE MOD (num, 2) = 1;

Q-14. Write an SQL query to clone a new table from another table.

Answer : SELECT *  INTO TABLE_CLONE FROM TABLE_NAME SELECT * FROM TABLE_NAME;