# SQL ASSIGNMENT 10

Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

ANSWER : SELECT * FROM ( 
    SELECT e.*, 
    ROW_NUMBER() OVER (ORDER BY SALARY DESC) RN FROM EMPLOYEE e ) WHERE RN = N;

N CAN BE REPLACED WITH REQUIRED NUMBERTH OF SALARY.

Q-20. Write an SQL query to fetch the list of employees with the same salary.

ANSWER :

SELECT * FROM EMPLOYEE WHERE SALARY IN (SELECT SALARY FROM EMPLOYEE e WHERE EMPLOYEE.EMP_ID <> e.EMP_ID);